body {
  font-family: Roboto;
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1 {
  background: #6C6C6C;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}

.to-do-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.to-do-list-item {
  background: white;
  height: 40px;
  line-height: 40px;
  color: #666;
  border-radius: 5px;
}

.to-do-list-item:nth-child(2n) {
  background: #f7f7f7;
}

.to-do-list-item:hover .edit-pencil {
  width: 40px;
  opacity: 1.0;
}

.to-do-list-item:hover .check-box {
  width: 40px;
  opacity: 1.0;
}

.to-do-list-item:hover .trash-can {
  width: 40px;
  opacity: 1.0;
}


.check-box {
  background: #4CAF50;
  height: 40px;
  margin-right: 0px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.4s linear;
  opacity: 0;
  border-radius: 1px
}

.edit-pencil {
  background: #FF8C00;
  height: 40px;
  margin-right: 0px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.4s linear;
  opacity: 0;
  border-radius: 1px
}

.trash-can {
	background: #ff0000;
	height: 40px;
	margin-right: 0px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.4s linear;
	opacity: 0;
	border-radius: 1px
}

button {
	height: 100%;
	width: 100%;
	border: none;
	background-color: Transparent;
}

.fa-plus {
  float: right;
}

.completed {
  color: red;
  text-decoration: line-through;
	font-style: italic;
}

.fa-trash {
	color: white;
	font-size: 50em;
}
